nav.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 32px;
    background-color: transparent;
    z-index: 100;
    transition: 1s;

    &.active {
        .bt {
            visibility: visible;
            opacity: 1;

            @media (--tabSm) {
                visibility: hidden;
                opacity: 0;
            }
        }

        .brand {
            span {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &.disabled {
        opacity: 0;
        visibility: hidden;
    }

    .brand {
        img {
            width: 105px;

            @media (--tabSm) {
                width: 140px;
            }
        }
    }

    .lst {
        display: none;
    }


    .bt-open {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        outline: none;

        @media (--tabSm) {
            display: none;
        }
    }
}

nav.navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 110;
    margin: -80px 0 0;
    transition: 1s;
    transition-delay: 1s;

    .navigation {
        width: 100%;
        display: none;
        background-color: #710252;

        @media (--tabSm) {
            display: flex;
        }

        li {
            width: calc(100% / 8);

            &.active {
                a {
                    font-weight: 700;
                    border-bottom: 8px solid #FF4438;
                }
            }

            a {
                display: block;
                color: #FFF;
                padding: 20px 0 18px;
                font-family: 'Sharp Sans';
                font-size: 12px;
                font-weight: 500;
                text-align: center;

                @media (--desk) {
                    font-size: 16px;
                }
            }
        }
    }
}

aside.menu {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -640px;
    transition: 1s;
    background-color: #710252;
    width: 100%;
    height: 100vh;
    z-index: 200;

    &.active {
        margin-right: 0;
    }

    @media (--tabSm) {
        max-width: 375px;
    }

    .head {
        padding: 19px 32px;

        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;

            .intro {
                color: #FFF;
                font-family: 'Pilat Compressed';
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 600;
            }

            .bt-close {
                background-color: transparent;
                border: 0;
                outline: none;
                cursor: pointer;
            }

        }
    }

    .lst {
        font-family: 'Sharp Sans';

        li {
            border-top: 1px solid rgba(255, 255, 255, .2);
            position: relative;

            &.active {
                &::before {
                    background-color: #FF4438;
                    opacity: 1;
                }

                a {
                    font-weight: 700;
                }
            }

            &:first-child {
                border-top: 0;
            }

            &::before {
                content: '';
                background-color: #F5F5FA;
                opacity: .3;
                width: 8px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }

            a {
                display: flex;
                align-items: center;
                color: #F5F5FA;
                font-size: 16px;
                padding: 19px 32px;
                font-weight: 500;
                line-height: 1.5;

                span {
                    font-size: 24px;
                    margin: 0 24px 0 0;
                }
            }
        }
    }

    
}

header.sec-header {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../../img/bg-section-mobile.png') center top no-repeat;
    background-size: cover;

    @media (--tabSm) {
        background: url('../../img/bg-section.png') center top no-repeat;
        background-size: cover;
    }

    @media (--tabSm) {
        padding: 0;
    }

    .title {
        font-family: 'Pilat Compressed';
        text-transform: uppercase;
        font-weight: 600;
        font-size: 90px;
        color: #231B22;
        text-align: center;
        line-height: 1;
        position: relative;
        margin: 0;

        @media (--tabSm) {
            font-size: 246px;
        }

        @media (--tabSm) {
            margin: 40px 0 0;
            font-size: 165px;
        }

        @media (--deskWide) {
            margin: 125px 0 0;
            font-size: 246px;
        }
       
        span {
            font-size: 32px;
            font-weight: 500;
            display: block;

            @media (--tabSm) {
                font-size: 55px;
            }

            @media (--tabSm) {
                font-size: 37px;
            }

            @media (--deskWide) {
                font-size: 55px;
            }
        }

        &::before {
            content: '';
            width: 100%;
            height: 217.5px;
            position: absolute;
            background: url('../../img/dest-header-wellness-mobile.png') center top no-repeat;
            background-size: contain;
            left: 0;
            top: 55px;
            z-index: 2;

            @media (--tabSm) {
                //width: 1149.5px;
                background: url('../../img/dest-header-wellness.png') center top no-repeat;
                background-size: contain;
                height: 533.5px;
                top: 125px;
            }

            @media (--tabSm) {
                height: 400px;
                top: 75px;
            }

            @media (--deskWide) {
                height: 533.5px;
                top: 125px;
            }
        }

    }

    .intro {
        color: #000;
        font-family: 'Sharp Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        max-width: 460px;
        text-align: center;
        margin: 170px auto 0;
        padding: 0 32px;

        @media (--fold) {
            margin: 130px auto 0;
        }

        @media (--tabSm) {
            margin: 300px auto 0;
            padding: 0;
            font-size: 18px;
        }

        @media (--tabSm) {
            margin: 225px auto 0;
        }

        @media (--tabSm) {
            margin: 180px auto 0;
        }

        @media (--deskWide) {
            margin: 260px auto 0;
            max-width: 669px;
        }

    }

    .bt-wrap {
        padding: 0 32px;

        .bt {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Sharp Sans';
            line-height: 3.0;
            font-weight: 700;
            font-size: 16px;
            color: #231B22;
            border: 2px solid #000;
            border-radius: 93px;
            text-transform: uppercase;
            width: 100%;
            max-width: 462px;
            padding: 0;
            margin: 32px auto 0;
            z-index: 100;

            @media (max-width: 360px) {
                margin: 20px auto 0;
            }
    
            @media (--tabSm) {
                margin: 60px auto 0;
                font-size: 21px;
                border: 3px solid #000;
            }

            @media (--tabSm) {
                margin: 30px auto 0;
            }

            @media (--deskWide) {
                margin: 60px auto 0;
            }
        }
    }

    .begin {
        font-family: 'Sharp Sans';
        font-weight: 500;
        font-size: 14px;
        color: #000;
        display: block;
        margin: 40px auto 0;
        text-align: center;

        @media (max-width: 360px) {
            margin: 20px auto 0;
        }
        
        @media (--tabSm) {
            visibility: hidden;
        }
    }
}

article.sec-foreword-ant {

    .sec-title {
        @media (max-width: 640px) {
            margin: 48px 0 20px;
        }
    }

    .wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 0 auto;

        @media (--desk) {
            flex-direction: row;
            align-items: flex-end;
        }
    
        .sec-author {
            display: block;
            margin: 10px auto 0 0;

            @media (--desk) {
                margin: 0 -270px -50px 11px;
            }

            span {
                font-family: 'Sharp Sans';
                margin: 10px 0 0;
                display: block;
                color: #F5F5FA;
                line-height: 1.4;
                font-size: 18px;
                font-weight: 500;

                @media (--desk) {
                    margin: 50px 0 0;
                }
    
                b {
                    font-weight: 800;
                }
            }
        }
    }
}
 
article.sec-foreword {
    .esq {

        .author-desktop {
            display: none;
            align-items: center;
            margin: 42px 0 0;
            position: sticky;
            top: 71%;

            @media (--tabSm) {
                display: flex;
            }

            img {
                max-width: 64px;
            }

            span {
                font-family: 'Sharp Sans';
                line-height: 1.4;
                font-size: 18px;
                color: #000;
                font-weight: 500;
                margin: 0 0 0 12px;

                b {
                    font-weight: 700;
                }
            }
        }

        .author-mobile {
            padding: 24px 0 32px;
            border-bottom: 1px solid #D7D7E0;
            margin: 0 0 32px;

            @media (--tabSm) {
                display: none;
            }

            span {
                font-size: 16px;
                font-family: 'Sharp Sans';
                font-weight: 500;

                b {
                    font-weight: 700;
                }
            }
        }
    }

    .dir {
        h4.intro {
            strike {
                color: #710252;

                span {
                    color: #231B22;
                }
            }
        }

        ul {
            list-style: disc;
            padding: 0 0 0 30px;
        }

        .intro.alt {
            color: #000;
            position: relative;
            padding: 0 0 350px;

            @media (--tab) {
                padding: 0 0 350px;
            }

            &::after {
                content: '';
                width: 100vw;
                height: 500px;
                background: url('../../img/mandala.png') center center no-repeat;
                background-size: cover;
                position: absolute;
                left: -32px;
                top: 0;

                @media (--tabSm) {
                    left: 0;
                    top: 50px;
                    width: 100%;
                }

                @media (--tab) {
                    left: 0;
                    top: 50px;
                    width: 100%;
                }
            }
        }

        img.mandala {
            display: none;
            margin: -175px 0 0;
        }

        img.mandala + p {
            margin: -50px 0 35px;
        }
    }
}

article.sec-work-life-ant {
    .sec-title {
        
        @media (--tabSm) {
            font-size: 136px;
        }   
        
        @media (--desk) {
            max-width: 1137px;
            margin: 30px auto 0;
        }
        
    }
}

article.sec-work-life {
    .dir {
        .lst {
            li {
                margin: -40px 0 0 !important;
                border: 2px solid #231B22;
                border-right: 6px solid #231B22;
                border-radius: 32px;
                padding: 45px 30px 80px;
                background: #FFF url('../../img/noise.png') center top repeat;
                background-size: contain;

                @media (--tabSm) {
                     border: 0;
                     border-radius: 0;
                     padding: 0;
                     margin: 0 0 55px !important;
                     background: transparent;
                }

                &:first-child {
                    margin: 40px 0 0 !important;

                    @media (--tabSm) {
                        margin: 0 0 55px !important;
                    }
                }

                &:last-child {
                    @media (--tabSm) {
                        margin: 0;
                    }   
                }

                h4.intro {
                    margin: 21px 0 16px;
                    text-align: left;
                    font-size: 24px;

                    @media (--tabSm) {
                        font-size: 48px;
                        margin: 30px 0 40px;
                    }

                    i {
                        font-weight: 400;
                        display: block;

                        @media (--tabSm) {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    
}

article.sec-employees-ant {
    .sec-title {
        font-size: 56px;
        margin: 48px 0 32px;

        @media (--fold) {
            font-size: 42px;
        }

        @media (--tabSm) {
            font-size: 78px;
        }

        @media (--deskMini) {
            font-size: 100px;
        }

        &.alt {
            margin: -33px 0 0 72px;

            @media (--fold) {
                margin: -20px 0 0 50px;
            }

            @media (--tabSm) {
                margin: -70px 0 0 -35px;
            }

            @media (--deskMini) {
                margin: -88px 0 0 -35px;

            }
        }
        
    }

    .sec-dest {
        margin: 0 auto;

        &.desktop {
            display: none;

            @media (--tabSm) {
                display: block;
            }
        }

        &.mobile {
            display: block;

            @media (--tabSm) {
                display: none;
            }
        }
    }
}

article.sec-employees {
    > .container {
        padding: 64px 0;

        @media (--tabSm) {
            padding: 152px 32px 196px;
        }

        @media (--desk) {
            padding: 152px 0 196px;
        }

        p, 
        h2, 
        h3, 
        h4 {
            padding: 0 32px;

            @media (--tabSm) {
                padding: 0;
            }
        }
        
    }

    .dir {
        p {
            &:first-child {
                margin: 56px 0 35px;

                @media (--tabSm) {
                    margin: 0 0 35px;
                }
            }
        }

        .lst {
            margin: 0 0 56px;

            .slick-slide {
                margin-right: 24px;

                &:last-child {
                    margin-right: 0 !important;
                }
            }

            li {
                display: flex !important;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                height: 512px;
                border: 2px solid #231B22;
                border-right: 6px solid #231B22;
                border-radius: 32px;
                padding: 45px 30px 80px;
                background: transparent url('../../img/noise.png') center top repeat;
                background-size: contain;

                @media (--tabSm) {
                        border: 0;
                        border-radius: 0;
                        padding: 0;
                        margin: 0 0 80px;
                        background: transparent;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: flex-start;
                        overflow: inherit;
                        height: auto;
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: #FFF url('../../img/bg-aros-employees.png') center top no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;

                    @media (--tabSm) {
                        display: none;
                    }
                }
    
                &:last-child {
                    
                    @media (--tabSm) {
                        margin: 0 0 71px;
                    }
                }

                small {
                    position: absolute;
                    top: 24px;
                    left: 24px;
                    font-family: 'Sharp Sans';
                    font-size: 16px;
                    font-weight: 500;
                    color: #6A6A79;

                    @media (--tabSm) {
                        display: none;
                    }
                }
    
                img {
                    max-width: 74px;
    
                    @media (--tabSm) {
                        max-width: none;
                        width: 102px;
                        height: 75px;
                        margin: 0 25px 0 0;
                    }
                }
                
                h5 {
                    font-family: 'Nys';
                    line-height: 1.1;
                    font-size: 32px;
                    color: #231B22;
                    font-weight: 500;
                    text-align: center;
                    margin: 36px 0 0;

                    @media (--tabSm) {
                        text-align: left;
                        margin: 0;
                    }
    
                    b {
                        font-weight: 700;
                        font-size: 32px !important;
                    }
                }
            }
        }
    }
    
}

article.sec-employees-importance {
    height: 100vh;
    position: relative;
    overflow: hidden;

    @media (--tabSm) {
        padding: 0;
    }

    .sec-title {
        font-family: 'Pilat Compressed';
        font-size: 32px;
        font-weight: bold;
        color: #F5F5FA;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-transform: uppercase;
        text-align: center;
        z-index: 10;

        @media (--tabSm) {
            color: #FFF;
            font-size: 56px;
        }
    }

    .circle {
        background-color: #710252;
        width: 100vh;
        height: 100vh;
        max-width: 100vw;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        //border-radius: 50%;
        z-index: -1;

        @media (--tabWide) {
            width: 300vh;
            height: 300vh;
        }
    }

    .lst {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vh;

        &::before {
            content: '';
            width: 100%;
            height: 100vh;
            background-color: #D8385E;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
/*
        &::after {
            content: '';
            width: 200vh;
            height: 200vh;
            background-color: #710252;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 50%;
            z-index: -1;
        }
*/
        &::-webkit-scrollbar {
            display: none;
        }
    
        -ms-overflow-style: none;
        scrollbar-width: none;

        li {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h3 {
                font-family: 'Nys';
                font-weight: 400;
                color: #F5F5FA;
                margin: 17px 0 0;
                text-align: center;

                @media (--tabSm) {
                    margin: 32px 0 0;
                }
            }
        }
    }
}

article.sec-body-ant {
    background: url('../../img/bg-sec-body-mobile.jpg') center top no-repeat;
    background-size: cover;

    @media (--tabSm) {
        background: url('../../img/bg-sec-body.jpg') center bottom no-repeat;
        background-size: cover;
    }

    .sec-index {
        color: #231B22;

        span {
            border-color: #231B22;
        }
    }
}

article.sec-body {
    
    .sec-title {
        position: relative;
        padding-left: 53px;

        @media (--tabSm) {
            padding-left: 87px;
        }

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            background: url('../../img/ico-body.svg') center center no-repeat;
            background-size: cover;
            position: absolute;
            top: 2px;
            left: 0;

            @media (--tabSm) {
                width: 56px;
                height: 56px;
                top: 17px;
            }
        }
    }

    h3.intro {
        margin: 0 0 56px;

        @media (--tabSm) {
            margin: 0;
        }
    }

    .mobile-wrapper {
        display: block;
        margin: 0 0 35px;

        @media (max-width: 640px) {
            background: #710252 url('../../img/bg-aros-body-mobile.png') center center no-repeat;
            background-size: cover;
            border-radius: 32px;
            padding: 34px 32px 80px;
            margin: 56px 0 64px;
        }

        small {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 27px;
            font-family: 'Sharp Sans';
            font-weight: 700;
            font-size: 16px;
            color: #F5F5FA;

            @media (--tabSm) {
                display: none;
            }
        }

        p b {

            @media (max-width: 640px) {
                color: #F5F5FA;
                font-family: 'Nys';
                line-height: 1.2;
                font-weight: 500 !important;
                font-size: 28px !important;
                text-align: center;
                display: block;
            }

        }
    }

    .equip {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 80px;

        img {
            animation: rotateEquip 10s linear infinite;

            @media (max-width: 640px) {
                min-width: 553px;
            }
        }

        h6 {
            font-family: 'Nys';
            line-height: 1.1;
            font-size: 28px;
            color: #231B22;
            text-align: center;
            font-weight: 500;
            max-width: 187px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: 70% auto 0;

            @media (--tabSm) {
                font-size: 24px;
                max-width: 187px;
                margin: 40% auto 0;
            }

            b {
                display: block;
                font-weight: 700;
            }
        }
    }

    .lst {

        > li {
            @media (max-width: 640px) {
                background: #fff url(../../img/noise.png) center top repeat;
                background-size: contain;
                border: 2px solid #231b22;
                border-radius: 32px;
                border-right-width: 6px;
                margin: 0 0 32px;
                padding: 40px 30px;
            }

            &:last-child {
                margin: 0;
            }

            small {
                display: flex;
                align-items: center;
                justify-content: center;

                @media (--tabSm) {
                    justify-content: flex-start;
                }

                img {
                    margin-right: 8px;
                    max-width: 24px;

                    @media (--tabSm) {
                        max-width: none;
                        margin-right: 19px;
                    }
                }

                b {
                    font-family: 'Sharp Sans';
                    font-size: 16px;
                    font-weight: 700;
                    color: #231B22;
                    line-height: 1;

                    @media (--tabSm) {
                        font-size: 24px;
                    }
                }
            }

            ol {
                list-style: none;

                &:last-child {
    
                    @media (--tabSm) {
                        margin: 0 0 78px;
                    }
                }

                li {
                    display: flex;
                    align-items: center;
                    padding: 16px 0;
                    border-bottom: 1px solid #D7D7E0;

                    @media (--tabSm) {
                        padding: 30px 0;
                    }

                    &:first-child {
                        margin: 24px 0 0;

                        @media (--tabSm) {
                            margin: 0;
                        }
                    }

                    &:last-child {
                        border-bottom: 0;
                    }

                    .nmr {
                        font-family: 'Sharp Sans';
                        font-weight: 500;
                        line-height: 1;
                        color: #D8385E;
                        font-size: 16px;

                        @media (--tabSm) {
                            font-size: 32px;
                            line-height: 1.2;
                        }
                    }

                    img {
                        max-width: 40px;
                        margin: 0 17px 0 15px;

                        @media (--tabSm) {
                            margin: 0 32px 0 18px;
                            max-width: none;
                        }
                    }

                    .title {
                        font-family: 'Nys';
                        font-weight: 500;
                        line-height: 1;
                        font-size: 24px;
                        color: #231B22;

                        @media (--tabSm) {
                            line-height: 1.1;
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }


}

article.sec-mind-ant {
    background: url('../../img/bg-sec-mind-mobile.jpg') center top no-repeat;
    background-size: cover;

    @media (--tabSm) {
        background: url('../../img/bg-sec-mind.jpg') center bottom no-repeat;
        background-size: cover;
    }

    .sec-index {
        color: #231B22;

        span {
            border-color: #231B22;
        }
    }
}

article.sec-mind {
    .sec-title {
        position: relative;
        padding-left: 53px;

        @media (--tabSm) {
            padding-left: 87px;
        }

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            background: url('../../img/ico-mind.svg') center center no-repeat;
            background-size: cover;
            position: absolute;
            top: 2px;
            left: 0;

            @media (--tabSm) {
                width: 56px;
                height: 56px;
                top: 17px;
            }
        }
    }

    h3.intro {
        margin: 0 0 56px;

        @media (--tabSm) {
            margin: 0;
        }
    }

    .low-battery-gif {
        display: block;
        max-width: 144px;
        margin: 0 auto;

        @media (--tabSm) {
            max-width: 200px;
        }
    }

    .spinners {
        padding: 80px 32px;
        background-color: #710252;
        margin: 80px 0;
        border-radius: 32px;
        
        .ico {
            display: block;
            margin: 0 auto 48px;
        }
        
        h5 {
            color: #F5F5FA;
            font-family: 'Nys';
            font-weight: 500;
            font-size: 28px;
            line-height: 1.2;
            text-align: center;

            @media (--tabSm) {
                font-size: 32px;
                line-height: 1;
            }
        }

        .spinner {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 56px 0 80px;

            &:last-child {
                margin: 56px 0 0;
            }

            @media (--tabSm) {
                margin: 32px 0 80px;

                &:last-child {
                    margin: 32px 0 0;
                }
            }

            .middle-circle {
                position: absolute;
                border-radius: 50%;
                height: 214px;
                width: 214px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .percentage {
                    font-family: 'Nys';
                    font-weight: 800;
                    font-size: 56px;
                    text-align: center;
                    color: #F5F5FA;
                    line-height: 1;

                    small {
                        font-size: 24px;
                    }
                }


            }

            .circle-progress-01, 
            .circle-progress-02 {
                height: 214px;
                width: 214px;
            }

          
        }
    }

    .lst {
        margin: 0 0 80px;

        .slick-dots {
            //top: 50%;
            top: 0;
            bottom: 0;
            margin: auto;
            right: -40px;
            transform: rotate(90deg);
            display: flex !important;
            justify-content: space-between;
            max-width: 64px;
            max-height: 8px;

            li {
                background-color: #D7D7E0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                padding: 0 !important;

                &.slick-active {
                    background-color: #231B22;
                }

                button::before {
                    content: '' !important;
                }
            }
        }
        
        li {
            position: relative;
            display: flex !important;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            
            padding: 20px 0;

            @media (--tabSm) {
                flex-direction: row;
                padding-left: 116px;

                margin: 0 0 80px;

                &:last-child {
                    margin: 0;
                }
            }

            .emoji {
                margin: 0 0 48px;

                @media (--tabSm) {
                    position: absolute;
                    left: 0;
                    margin: 0;
                }
            }

            span {
                font-size: 32px;
                font-family: 'Nys';
                line-height: 1.1;
                color: #231B22;
                text-align: center;
                font-weight: 500;
                display: flex;
                flex-direction: column;

                @media (--tabSm) {
                    display: block;
                    text-align: left;
                }

                b {
                    font-weight: 800 !important;
                    font-size: 32px !important;

                    @media (--tabSm) {
                        font-weight: 500 !important;;
                    }
                }

                strong {
                    order: 3;

                    @media (max-width: 640px) {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    .intro.alt {
        position: relative;
        padding: 160px 0 160px;

        @media (--tabSm) {
            padding: 0;
        }

        &::before {
            content: '';
            width: 327px;
            height: 352px;
            background: url('../../img/img-peso-esq.png') center center no-repeat;
            background-size: cover;
            position: absolute;
            left: -160px;
            top: -30px;

            @media (--tabSm) {
                left: -300px;
                top: -80px;
            }
        }

        &::after {
            content: '';
            width: 303px;
            height: 303px;
            background: url('../../img/img-peso-dir.png') center top no-repeat;
            background-size: cover;
            position: absolute;
            right: -100px;
            top: 290px;

            @media (--tabSm) {
                top: 80px;
                right: -180px;
            }
        }
    }
}

article.sec-life-ant {
    background: url('../../img/bg-sec-life-mobile.jpg') center top no-repeat;
    background-size: cover;

    @media (--tabSm) {
        background: url('../../img/bg-sec-life.jpg') center bottom no-repeat;
        background-size: cover;
    }

    .sec-index {
        color: #231B22;

        span {
            border-color: #231B22;
        }
    }
}

article.sec-life {
    .sec-title {
        position: relative;
        padding-left: 53px;

        @media (--tabSm) {
            padding-left: 87px;
        }

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            background: url('../../img/ico-life.svg') center center no-repeat;
            background-size: cover;
            position: absolute;
            top: 2px;
            left: 0;

            @media (--tabSm) {
                width: 56px;
                height: 56px;
                top: 17px;
            }
        }
    }

    h3.intro {
        margin: 0 0 56px;
    }

    h4.intro {
        &.alt {
            @media (max-width: 640px) {
                strong {
                    display: block;
                    font-weight: 800;
                    font-size: 56px;
                }

                font-weight: 500;
                font-size: 24px !important;
            }
            
        }
        
    }

    .lst {
        margin: 0 0 80px;

        .slick-dots {
            //top: 50%;
            top: 0;
            bottom: 0;
            margin: auto;
            right: -40px;
            transform: rotate(90deg);
            display: flex !important;
            justify-content: space-between;
            max-width: 64px;
            max-height: 8px;

            li {
                background-color: #D7D7E0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                padding: 0 !important;

                &.slick-active {
                    background-color: #231B22;
                }

                button::before {
                    content: '' !important;
                }
            }
        }
        
        li {
            padding: 30px 0;

            img, span {
                display: block;
                margin: 0 auto;
                text-align: center;
            }

            .flag {
                margin: 100px auto 20px;
                max-width: 24px;

                @media (--tabSm) {
                    max-width: 34px;
                }
            }

            .percentage {
                font-family: 'Nys';
                font-weight: 800;
                font-size: 56px;
                color: #231B22;
                margin: 0 0 10px;

                small {
                    font-size: 20px;
                }
            }

            .country {
                font-family: 'Sharp Sans';
                font-weight: 500;
                font-size: 18px;

                @media (--tabSm) {
                    font-size: 20px;
                }
            }


        }
    }

    .mobile-wrapper {
        display: block;
        margin: 80px 0 56px;

        @media (max-width: 640px) {
            background: #710252 url('../../img/bg-aros-body-mobile.png') center center no-repeat;
            background-size: cover;
            border-radius: 32px;
            padding: 34px 32px 80px;
            margin: 56px 0 64px;
        }

        small {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 27px;
            font-family: 'Sharp Sans';
            font-weight: 700;
            font-size: 16px;
            color: #F5F5FA;

            @media (--tabSm) {
                display: none;
            }
        }

        p b {
            font-family: 'Nys';
            color: #F5F5FA;
            line-height: 1.2;
            font-weight: 500 !important;
            font-size: 28px !important;
            text-align: center;
            display: block;

            @media (--tabSm) {
                
                line-height: 1.1;
                font-weight: 500 !important;
                font-size: 48px !important;
                text-align: left;
                color: #231B22;
            }

        }
    }

    p.alt {
        position: relative;
        
        &::before {
            
            
            @media (--tabSm) {
                content: '';
                left: -350px;
                top: -200px;
                width: 327px;
                height: 352px;
                background: url('../../img/img-peso-esq.png') center center no-repeat;
                background-size: cover;
                position: absolute;
            }
        }

        &::after {
            
            @media (--tabSm) {
                content: '';
                width: 303px;
                height: 303px;
                background: url('../../img/img-peso-dir.png') center top no-repeat;
                background-size: cover;
                position: absolute;
                top: 80px;
                right: -250px;
            }
        }
    }
}

article.sec-articles {
    .esq {
 
        .author-desktop {
            display: none;
            align-items: flex-start;
            margin: 42px 0 0;

            @media (--tabSm) {
                display: flex;
            }

            img {
                max-width: 64px;
            }

            span {
                font-family: 'Sharp Sans';
                line-height: 1.4;
                font-size: 18px;
                color: #000;
                font-weight: 500;
                margin: 0 0 0 12px;

                b {
                    font-weight: 700;
                }
            }
        }

        .author-mobile {
            padding: 24px 0 32px;
            border-bottom: 1px solid #D7D7E0;
            margin: 0 0 32px;

            @media (--tabSm) {
                display: none;
            }

            span {
                font-size: 16px;
                font-family: 'Sharp Sans';
                font-weight: 500;

                b {
                    font-weight: 700;
                }
            }
        }
    }

    .dir {
        p.alt {
            color: #000;
            position: relative;

            @media (--tab) {
                padding: 0 0 350px;
            }

            &::after {
                content: '';
                width: 100vw;
                height: 500px;
                background: url('../../img/mandala.png') center center no-repeat;
                background-size: cover;
                position: absolute;
                left: -32px;
                top: 0;
                display: none;

                @media (--tabSm) {
                    left: 0;
                    top: 50px;
                    width: 100%;
                    display: block;
                }

                @media (--tab) {
                    left: 0;
                    top: 50px;
                    width: 100%;
                }
            }
        }

        .author {
            display: flex;
            align-items: center;
            margin: 49px 0 350px;
            padding: 0 0 35px;
            border-bottom: 1px solid rgba(106, 106, 121, .5);
            position: relative;

            @media (--tabSm) {
                display: none;
            }

            img {
                max-width: 56px;
            }

            span {
                font-family: 'Sharp Sans';
                line-height: 1.4;
                font-size: 14px;
                color: #000;
                font-weight: 500;
                margin: 0 0 0 12px;

                b {
                    font-weight: 700;
                }
            }

            &::after {
                content: '';
                width: 100vw;
                height: 500px;
                background: url('../../img/mandala.png') center center no-repeat;
                background-size: cover;
                position: absolute;
                left: -32px;
                top: 0;

                @media (--tabSm) {
                    left: 0;
                    top: 50px;
                    width: 100%;
                    display: none;
                }

            }
        }
    }
}

article.sec-articles-more {
    overflow: hidden;

    h1 {
        font-family: 'Nys';
        font-weight: 700;
        font-size: 124px;
        color: #231B22;
        padding: 0;
        margin: 0;
        line-height: .9;
        text-align: center;
        position: relative;
        display: flex;
        
        @media (--tabSm) {
            font-size: 277px;
            display: block;
        }

        img {
            position: absolute;
            left: 27.5px;
            top: -60px;
            width: 200px;

            @media (--tabSm) {
                top: -140px;
                left: 74px;
                width: 460px;
            }

            @media (--tabSm) {
                left: 202px;
            }

            @media (--tabSm) {
                left: 317px;
                top: -140px;
            }
        }

        img + span {
            visibility: hidden;
        }

    }
}

section#Articles {
    > .next {
        display: block;
        font-family: 'Sharp Sans';
        font-weight: 500;
        font-size: 24px;
        color: #F5F5FA;
        background-color: #710252;
        padding: 45px 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (--tabSm) {
                justify-content: flex-start;
            }
        }

        img {

            @media (--tabSm) {
                margin: 0 0 0 16px; 
            }
           
        }
    }
}

article.sec-companies-ant {
    img {
        display: block;
        margin: 0 auto;
    }
}

article.sec-companies {
    h3.intro {
        margin: 0 0 56px;
    }

    h4.intro {
        u {
            color: #710252;
            display: block;

            @media (--tabSm) {
                display: inline;
            }

            span {
                color: #231B22;
            }
        }
    }

    .talk {
        background-color: #FF4438;
        padding: 40px 28.5px 24px;
        border-radius: 32px;
        box-shadow: 8px 8px 0 #231B22;
        margin: 80px 0 0;

        @media (--tabSm) {
            padding: 40px 98px 32px;
        }

        img {
            max-width: 105px;
            display: block;
            margin: 0 auto 56px;
        }

        h5 {
            font-family: 'Nys';
            line-height: 1.2;
            font-size: 32px;
            font-weight: 500;
            color: #F5F5FA;
            text-align: center;
            margin: 0 0 56px;
        }

        a {
            border: 2px solid #F5F5FA;
            border-radius: 93px;
            font-weight: 700;
            font-family: 'Sharp Sans';
            font-size: 16px;
            text-transform: uppercase;
            color: #F5F5FA;
            display: block;
            max-width: 264px;
            margin: 0 auto;
            text-align: center;
            padding: 16px 0;
        }
    }

    .next {
        img {
            transform: rotate(180deg);
        }
    }
}

footer.sec-footer {
    background-color: #231B22;
    padding: 66px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media (--tabSm) {
            flex-direction: row;
        }

        .copyright {
            font-family: 'Sharp Sans';
            font-weight: 500;
            font-size: 16px;
            color: #6A6A79;
            text-align: center;
            margin: 20px 0 0;

            @media (--tabSm) {
                text-align: left;
                margin: 0;
            }
        }
    }
}
