/* Nys */

@font-face {
    font-family: 'Nys';
    src: 
    url('../fonts/Nys/Nys-Regular.woff') format('woff'), 
    url('../fonts/Nys/Nys-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-Italic.woff') format('woff'), url('../fonts/Nys/Nys-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-BookItalic.woff') format('woff'), url('../fonts/Nys/Nys-BookItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-Book.woff') format('woff'), url('../fonts/Nys/Nys-Book.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-DemiItalic.woff') format('woff'), url('../fonts/Nys/Nys-DemiItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-Demi.woff') format('woff'), url('../fonts/Nys/Nys-Demi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-BoldItalic.woff') format('woff'), url('../fonts/Nys/Nys-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-Bold.woff') format('woff'), url('../fonts/Nys/Nys-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-HeavyItalic.woff') format('woff'), url('../fonts/Nys/Nys-HeavyItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-Heavy.woff') format('woff'), url('../fonts/Nys/Nys-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-BlackItalic.woff') format('woff'), url('../fonts/Nys/Nys-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nys';
    src: url('../fonts/Nys/Nys-Black.woff') format('woff'), url('../fonts/Nys/Nys-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* Pilat Compressed */

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../fonts/Pilat Compressed/PilatCompressed-Thin.woff') format('woff'), url('../fonts/Pilat Compressed/PilatCompressed-Thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../fonts/Pilat Compressed/PilatCompressed-Light.woff') format('woff'), url('../fonts/Pilat Compressed/PilatCompressed-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../fonts/Pilat Compressed/PilatCompressed-Regular.woff') format('woff'), url('../fonts/Pilat Compressed/PilatCompressed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../fonts/Pilat Compressed/PilatCompressed-Book.woff') format('woff'), url('../fonts/Pilat Compressed/PilatCompressed-Book.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../fonts/Pilat Compressed/PilatCompressed-Demi.woff') format('woff'), url('../fonts/Pilat Compressed/PilatCompressed-Demi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../fonts/Pilat Compressed/PilatCompressed-Bold.woff') format('woff'), url('../fonts/Pilat Compressed/PilatCompressed-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../fonts/Pilat Compressed/PilatCompressed-Heavy.woff') format('woff'), url('../fonts/Pilat Compressed/PilatCompressed-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pilat Compressed';
    src: url('../fonts/Pilat Compressed/PilatCompressed-Black.woff') format('woff'), url('../fonts/Pilat Compressed/PilatCompressed-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* Sharp Sans */

@font-face {
    font-family: 'Sharp Sans';
    src: url('../fonts/Sharp Sans/SharpSans-Medium.ttf') format('truetype'), url('../fonts/Sharp Sans/SharpSans-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../fonts/Sharp Sans/SharpSans-MediumItalic.ttf') format('truetype'), url('../fonts/Sharp Sans/SharpSans-MediumItalic.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../fonts/Sharp Sans/SharpSans-Extrabold.ttf') format('truetype'), url('../fonts/Sharp Sans/SharpSans-Extrabold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../fonts/Sharp Sans/SharpSans-ExtraboldItalic.ttf') format('truetype'), url('../fonts/Sharp Sans/SharpSans-ExtraboldItalic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../fonts/Sharp Sans/SharpSans-Bold.ttf') format('truetype'), url('../fonts/Sharp Sans/SharpSans-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('../fonts/Sharp Sans/SharpSans-BoldItalic.ttf') format('truetype'), url('../fonts/Sharp Sans/SharpSans-BoldItalic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}